@import "tailwindcss";

@theme {
    --color-background: #2B0040;
    --color-normal-tile: #43115B;
}

html {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
